.root {
  display: flex;
  padding: var(--padding);
}

.container {
  max-width: var(--max-width);
  margin: auto;
  width: 100%;
}

.widthPage { --max-width: 100%; }

.paddingNone { --padding: none; }
.paddingNormal { --padding: var(--space-md); }
.paddingVertical { --padding: var(--space-md) 0; }
.paddingHorizontal { --padding: 0 var(--space-md); }
