@import url(breakpoints.css);

:root {
  /* spectrum - gray */
  --color-gray-000: hsl(180, 1%, 97%);
  --color-gray-100: hsl(180, 4%, 92%);
  --color-gray-200: hsl(180, 4%, 86%); 
  --color-gray-300: hsl(180, 3%, 80%);
  --color-gray-400: hsl(180, 3%, 75%);
  --color-gray-500: hsl(180, 2%, 68%);
  --color-gray-600: hsl(180, 2%, 54%);
  --color-gray-700: hsl(180, 2%, 41%);
  --color-gray-800: hsl(180, 2%, 33%);
  --color-gray-900: hsl(180, 5%, 14%);
  --color-gray-1000: hsl(180, 10%, 5%);

  /* spectrum - gold */
  --color-gold-300: hsl(40, 70%, 85%);
  --color-gold-500: hsl(40, 82%, 65%);
  --color-gold-700: hsl(40, 91%, 42%);

  /* spectrum - rose */
  --color-rose-300: hsl(330, 21%, 90%);
  --color-rose-500: hsl(330, 36%, 72%);
  --color-rose-700: hsl(330, 30%, 44%);

  /* spectrum - mint */
  --color-mint-300: hsl(144, 22%, 92%);
  --color-mint-500: hsl(144, 43%, 61%);
  --color-mint-700: hsl(144, 88%, 16%);

  /* spaces */
  --space-xs: clamp(0.65rem, 0.9vw, 0.8rem);
  --space-sm: clamp(0.85rem, 1.1vw, 1rem);
  --space-md: clamp(1rem, 1.4vw, 1.2rem);
  --space-lg: clamp(1.4rem, 2.5vw, 2.2rem);
  --space-xl: clamp(1.8rem, 3.4vw, 3rem);
  --space-tab: calc(2ch + 1px);

  /* sizes */
  --width-xxs: 360px;
  --width-xs: 480px;
  --width-sm: 600px;
  --width-md: 768px;
  --width-lg: 1080px;
  --width-xl: 1280px;
  --width-xxl: 1440px;
  --width-terminal: var(--width-xs);

  /* weight */
  --weight-regular: 400;
  --weight-bold: 700;

  /* fonts */
  --font-family-mono: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --font-family-serif: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-size-base: 87.5%;
  --font-height-base: 1.5em;
}

/* functional variables */
:root {
  /* fonts */
  --font-family: var(--font-family-mono);
  --font-size: var(--font-size-base);
  --font-weight: var(--weight-regular);
  --font-height: var(--font-height-base);
  --font-style: normal;

  /* light mode */
  --color-background: var(--color-gray-000);
  --color-foreground: var(--color-gray-1000);
  --color-primary: var(--color-rose-700);
}

@media (prefers-color-scheme: dark) { 
  :root {
    --color-background: var(--color-gray-1000);
    --color-foreground: var(--color-gray-100);
    --color-primary: var(--color-rose-500);
  }
}